body {
  background-color: red;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

h1 {
  color: blue;
  background-color: yellow;
  border: 1px solid black;
}

.page-title * {
  color: red;
}
